body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box !important;
}

@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Medium.ttf");
}

.korzina__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.product__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    grid-template-rows: repeat(2, 1fr);
    background-color: rgba(0, 112, 255, 0.57);
    padding: 40px 50px;
    border-radius: 10px;
    width: 90vw;
    min-height: 50vh;
}

.product__card {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 10px;
}

.product__card-image {
    width: 90%;
    height: 200px;
}

.product__card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btn-danger {
    margin-top: 20px;
    text-transform: capitalize;
}

.korzinka__modal {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #000000e6
}

.korzinka__modal.visible {
    display: flex;
    z-index: 999;
}

.korzinka__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.korzinka__card {
    height: 250px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: 20px;
}

.korzinka__card img {
    width: 250px;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1400px) {
    .product__cards {
        padding: 30px 20px;
        grid-gap: 20px;
    }
}

@media (max-width: 1300px) {
    .product__cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .korzina__title {
        font-size: 2rem !important;
    }
}

@media (max-width: 1000px) {
    .product__cards {
        width: 95vw;
    }

    .product__card-image {
        height: 170px;
    }
}

@media (max-width: 768px) {
    .product__cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100vw;
        grid-gap: 10px;
    }

    .product__card-image {
        height: 150px;
    }

    .bg-primary {
        font-size: 1.8rem !important;
    }

    .bg-warning {
        font-size: 1.8rem !important;
    }

    .korzinka__title {
        font-size: 1.8rem !important;
        margin: 2rem 0 !important;
    }

    #buy__btn {
        font-size: 1.3rem !important;
    }
}

@media (max-width: 700px) {
    .product__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 100vw;
        grid-gap: 20px;
    }
}

@media (max-width: 578px) {
    .product__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        width: 72vw;
    }

    .product__card-image,
    .korzinka__card img {
        height: 180px;
    }
    .korzinka__card{
        margin: 12px;
    }

    .bg-primary {
        font-size: 1.8rem !important;
    }

    .bg-warning {
        font-size: 1.8rem !important;
    }

    .btn-danger {
        font-size: 1rem !important;
    }

    .korzina__title {
        font-size: 1.8rem !important;
        margin: 1.5rem 0 !important;
    }

    #open__modal-btn , .korzina__title{
        margin: 3rem 0 2rem 0 !important;
    }

    #buy__btn {
        padding: .5rem 3.5rem !important;
    }
}

@media(max-width: 500px) {
    .product__cards {
        width: 85vw;
    }
}

@media(max-width:400px) {
    #buy__btn {
        padding: .3rem 2.7rem !important;
    }
}

@media (max-width: 370px) {
    .product__cards {
        width: 90vw;
    }

    .product__card-image {
        height: 140px;
    }
    .korzinka__card img{
        width: 220px;
    }

    .product__card {
        padding: 16px 0;
    }

    #buy__btn {
        padding: .3rem 2.5rem !important;
    }
}

@media (max-width: 340px) {
    .product__cards {
        grid-gap: 10px;
    }
}